@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

* {
  box-sizing: border-box;
  outline: none;
  border-radius: none;
}

body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  /* padding: 0px; */
}

@media (max-width: 1250px) {
  body {
    flex-direction: column;
  }
}
/* header */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #eff5fb;
  padding: 0 0 1px 0;
}

.logo {
  margin-right: 10%;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu a {
  color: #333333;
  font-weight: 550;
  font-size: 14px;
  text-decoration: none;
  margin: 10px !important;
}

.nav-menu a:nth-child(6) {
  color: black;
  font-weight: 600;
}

.button {
  margin: 10px 0px;
}

.button button {
  background-color: #e3f5f5;
  color: #03b2a5;
  padding: 14px 20px;
  border: none;
  font-weight: 700;
  margin-left: 50px !important;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.menu-burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .navigation {
    display: none;
  }

  .menu-burger {
    display: flex;
  }
}

/* main */

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -58%;
}

.location p {
  font-size: 12px;
  font-weight: 400;
  color: #333333bd;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -57%;
}

.heading h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #333333;
}

.buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.buttons button {
  display: flex;
  gap: 5px;
  border: 1px solid #c1c5cd;
  border-radius: 24px;
  padding: 5px 10px;
  background-color: transparent;
  color: #333333;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .buttons {
    display: flex;
  }
}

.buttons__active {
  display: flex;
  border: 2px solid #16c8bb !important;
}

/* main aside*/

main {
  flex: 1;
}

aside {
  position: absolute;
  top: 120px;
  right: 50px;
  max-width: 280px;
  margin: 20px;
  flex: 1;
}

body {
  display: flex;
  flex-wrap: wrap;
}

header,
main,
aside {
  width: 100%;
}

@media (min-width: 768px) {
  header,
  main,
  aside {
    width: auto;
  }
  main {
    width: 70%;
  }
  aside {
    width: 30%;
  }
}

.aside__cont-first {
  align-items: center;
  text-align: center;
  background-color: #e6f0fd;
  padding: 24px;
  border-radius: 16px;
}

.aside__cont-first h1 {
  font-size: 18px;
  font-weight: bold;
}

.aside__cont-first p {
  font-size: 14px;
  line-height: 1.5;
}

.aside__cont-first button,
.aside__cont-second-btn {
  padding: 15px 70px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  background-color: #35b3a9;
  color: #ffffff;
  cursor: pointer;
}

.aside__cont-second {
  margin-top: 24px;
  text-align: center;
  background-color: transparent;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid #dedede;
  position: relative;
  z-index: 2;
}

.aside__cont-second-btns {
  position: absolute;
  z-index: 1;
}

.aside__cont-second-btns button {
  display: flex;
  margin-bottom: 5px;
  font-size: 12px;
  background-color: #e9e9e9b2;
  padding: 6px;
  border: none;
  border-radius: 6px;
  gap: 5px;
  cursor: pointer;
}

.aside__cont-second img {
  border-radius: 50%;
}

.aside__cont-second h1 {
  font-size: 20px;
}

.aside__cont-second h2 {
  font-size: 16px;
  margin-top: -10px;
}

.aside__cont-second p {
  font-size: 14px;
  color: #a2a7b1;
}

.aside__cont-second h3 {
  font-size: 16px;
  text-align: left;
}

.aside__cont-second ul {
  margin-top: -15px;
  text-align: left;
  margin-left: -28px;
  list-style-type: disc;
}

.aside__cont-second li {
  margin: 0;
  font-size: 14px !important;
}

.aside__second ul li::marker {
  color: #03b2a5;
  font-size: 25px;
}

.aside__cont-third {
  border-radius: 16px;
}

.aside__cont-third img {
  width: 100%;
  height: auto;
  margin-top: 24px;
  cursor: pointer;
}

.aside__cont-fourth {
  position: relative;
  margin-top: 24px;
  text-align: left;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid #dedede;
}

.aside__cont-fourth h1,
.aside__cont-fourth span {
  color: #2963a3;
  font-size: 18px;
  margin-right: 10px;
}

.aside__cont-fourth span,
.aside__cont-fourth h2 {
  font-size: 24px !important;
}

.aside__cont-fourth p {
  font-size: 14px;
}

.aside__cont-fourth button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 15px 20px;
  background-color: #35b3a9;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
}

.aside__cont-fourth img {
  position: absolute;
  top: -9%;
  right: -1%;
  cursor: pointer;
}
/* main article */
.about-article__location {
  display: flex;
  align-items: center;
  margin-left: 19%;
}

.about-article__location p {
  font-size: 12px;
  font-weight: 400;
  color: #333333bd;
}

.about-article__heading {
  width: 690px;
  align-items: center;
  margin-left: 19%;
}

.about-article__heading h2 {
  width: 690px;
  font-size: 48px;
  color: #333333;
}

.about-article__heading p {
  font-size: 14px;
  color: #494949c5;
  margin-top: -20px;
}

.about-article__image {
  display: flex;
  align-items: center;
  margin-left: 19%;
  margin-top: 30px;
}

.about-article__content {
  align-items: center;
  margin-left: 19%;
  margin-top: 30px;
}

.about-article__content h2,
li {
  font-size: 16px;
}

.about-article__content-list-in-list .about-article__list-in-list-element {
  width: 588px;
  margin: 10px;
}

.about-article__content-list-in-list {
  list-style: disc;
}

.about-article__content-list-in-list
  .about-article__content-list-in-list-element::marker {
  color: #03b2a5;
  font-size: 25px;
}

.about-article__content-list-in-list
  .about-article__content-list-in-list-element
  a {
  color: #333333;
  text-decoration: underline solid #333333 1px;
}

@media (max-width: 1250px) {
  .about-article__content-list-in-list
    .about-article__content-list-in-list-element:nth-child(-n + 3) {
    display: none;
  }
}

/* first heading */

.about-article__article {
  width: 690px;
  flex-wrap: wrap;
  align-items: center;
  line-height: 1.8;
  margin-left: 19%;
}
.about-article__article blockquote {
  width: 690px;
  margin-left: -1%;
  background-color: #f3f7fe;
  border-radius: 16px;
  padding: 20px 24px;
}

.about-article__article blockquote p {
  width: 690px;
}

.about-article__article blockquote img {
  position: relative;
  top: -155px;
  z-index: 0;
}

.about-article__article blockquote p:nth-child(2) {
  font-weight: bold;
}

/* content about anxiety  */
.about-article__solution,
.about-article__solution2 {
  width: 690px;
  align-items: center;
  margin-left: 19%;
}

.about-article__solution-list,
.about-article__solution-list-element {
  width: 690px !important;
  color: #333333;
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  padding: 0;
}

.about-article__solution-list,
.about-article__solution2-list {
  list-style: disc;
}

.about-article__solution-list-element::marker,
.about-article__solution2-list-element::marker {
  color: #03b2a5;
  font-size: 25px;
}

.about-article__solution img {
  margin-top: 20px;
}

.about-article__solution-underPhoto {
  color: #868686 !important;
  font-size: 14px;
}

.about-article__solution p {
  line-height: 1.5;
  color: #333333;
}

.about-article__solution-blockquote1 {
  line-height: 1.5;
  color: #333333;
  font-style: italic;
  padding: 24px 20px;
  align-items: center;
}

.about-article__solution-blockquote1 p {
  text-align: center;
  width: 488px;
  position: absolute;
  z-index: 1;
}

.about-article__solution-blockquote1 img {
  position: relative;
  top: -28px;
  left: 120px;
  z-index: 0;
}

.about-article__solution-underquote {
  margin-top: -50px;
}

/* author */
.about-article__solution-author {
  width: 690px;
  display: flex;
  line-height: 1.5;
  /* margin-left: 19%; */
  gap: 24px;
}

.about-article__solution-author p {
  margin-top: 15px;
}

.about-article__solution-text2 {
  width: 690px;
  display: flex;
  line-height: 1.5;
}

/* blockqoute */
.about-article__solution-blockquote {
  width: 690px;
  background-color: #fefaec;
  padding: 15px 20px;
  line-height: 1.5;
  margin-left: -3px;
  border-radius: 16px;
}

.about-article__solution-blockquote h2,
p {
  font-size: 16px;
  color: #333333;
}

.about-article__solution-blockquote p {
  margin-top: -5px;
}

/* 2 blockquote */

.about-article__solution2-blockquote {
  width: 690px;
  background-color: #fff3eb;
  padding: 15px 20px;
  line-height: 1.5;
  margin-left: -3px;
  border-radius: 16px;
}

.about-article__solution2-blockquote h1,
p {
  font-size: 16px;
  color: #333333;
}

.about-article__solution2-blockquote p {
  margin-top: -5px;
}

.about-article__solution3 {
  width: 690px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  line-height: 1.5;
  margin-left: 19%;
  gap: 24px;
}

.about-article__solution h1 {
  margin-bottom: -25px;
}

.about-article__solution3-text {
  flex: 1;
  margin: 0;
}

.about-article__solution3 svg {
  margin-left: 36%;
}

.about-article__solution3-blockquote {
  width: 690px;
  background-color: #03b2a61e;
  padding: 15px 20px;
  line-height: 1.5;
  margin-left: -3px;
  border-radius: 16px;
}

.about-article__solution3-blockquote h1,
p {
  font-size: 16px;
  color: #333333;
}

.about-article__solution3-blockquote p {
  margin-top: -5px;
}

/* list */

.about-article__solution3-cont ul {
  width: 690px;
  display: flex;
  align-items: flex-start;
  line-height: 1.5;
  margin-left: 19%;
  list-style: none;
}

.about-article__solution3-cont li {
  font-size: 14px;
}

/* line */
.about-article__line {
  width: 1200;
  display: flex;
  height: 0.5px;
  background-color: #ffffff;
  opacity: 0.5;
  margin-left: 19%;
  margin: 20px 19%;
}

/* help */

.help {
  position: relative;
  margin-left: 19%;
  margin-top: 50px;
}

@media (max-width: 1024px) {
  .help {
    display: flex;
    flex-wrap: wrap;
  }
}

.help__submit {
  width: 349px;
}

.help__submit h1 {
  font-size: 48px;
}

.help__submit p {
  font-size: 18px;
  font-weight: lighter;
  margin-top: -10px;
}

.help__submit button {
  margin-top: 24px;
  background-color: #16c8bb;
  padding: 20px 24px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

.help .help__image1 {
  position: absolute;
  left: 40%;
  top: -10%;
}

.help .help__image2 {
  position: absolute;
  left: 95%;
  bottom: 10%;
}

@media (max-width: 1200px) {
  .help .help__image1,
  .help__image2 {
    display: none;
  }
}

/* .help .help__image3 {
  margin-top: 50px;

  left: -10%;
} */ /* footer */

footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 20px 0;
  background-color: #2963a3;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 1024px) {
  footer {
    flex-wrap: wrap;
  }
}

.footer-content {
  display: flex;
  padding-top: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  border-bottom: #494949;
  margin-left: 13%;
}

.navigation-footer__links ul {
  list-style: none;
}

.navigation-footer__links ul li {
  font-size: 16px;
  margin: 16px;
  font-weight: bold;
  cursor: pointer;
}

.navigation-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-left: -23%;
}

/* form */

.form-footer__form {
  width: 384px;
  display: flex;
  align-items: center;
}

.form-footer h1 {
  width: 384px;
  font-size: 18px;
  color: #ffffff;
  margin: 20px 0;
  font-weight: bold;
  text-align: left;
}

.form-footer__form input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.form-footer__form input::placeholder {
  color: #9d9d9d;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

.form-footer__form button {
  padding: 8px 15px;
  background-color: #16c8bb;
  border: none;
  border-radius: 4px;
  margin-left: -12px;
  color: white;
  cursor: pointer;
}

.form-footer p {
  width: 486px;
  font-size: 12px;
  color: #ffffff81;
  margin-top: 10px;
  margin-left: -7px;
}

/* logo footer */

.footer__social-mediaP {
  margin: 0;
}

.footer__social-media-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__social-media-icons {
  margin-top: 20px;
}

.footer__social-media-icons svg {
  margin-right: 10px;
  cursor: pointer;
}

/* lower section */

.footer__line {
  width: 100%;
  display: flex;
  align-items: center;
  height: 0.5px;
  background-color: #ffffff;
  opacity: 0.5;
  margin: 20px 20%;
}

.footer__license {
  display: flex;
}

.footer__license-list {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 0;
  list-style: none;
  margin: 0 auto;
  margin-left: -50%;
}

@media (max-width: 1024px) {
  .footer__license-list {
    margin-left: 50px;
    gap: 10px;
    flex-wrap: wrap;
  }
}

.footer__license-list-link {
  text-decoration: none;
  font-size: 14px;
  color: #ffffffbe;
}
